.navbar {
  width: 100%;
  max-width: 100vw;
  background: var(--dark-blue);
  color: var(--pure-white);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding);
}

.content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 100px;
  margin-right: 50px;
}
